#navbar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  #navbar>div{
    display: flex;
    width: 30%;
    justify-content: space-evenly;
  }
  #country{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid; */
  }
  #container{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
  }
  #sidebar{
    width: 30%;
  }
  #news_result{
    width: 90%;

  }
  .news{
    border: 1px solid;
    display: flex;
    justify-content: space-around
  }
  #imgid>img{
    width: 50%;
  }